body {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
  background: #282c34;
  font-family: "Courier New", Courier, monospace;
  a {
    text-decoration: none;
  }
}
li {
  margin: 10px 20px;
  display: inline-block;
  border: solid #fff 4px;
  border-radius: 20px;
  padding: 5px 15px;
}

// .btn {
//   // border-radius: 15px;
//   // margin-top: 50px;
//   // box-shadow: 0px 0px 2px 2px rgb(0, 0, 0);
//   // background-color: darkblue;

//Button
.btn {
  margin-top: 50px;
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 20px;
  font-size: 15px;
}

.btn:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.btn:active {
  color: #000;
}

.btn:active:after {
  background: transparent;
}

.btn:hover:before {
  opacity: 1;
}

.btn:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  font-size: 18px;
}

.nav {
  a {
    color: #fff;
  }
  border-radius: 25px;
  border: solid 2px #fff;
  padding: 5px 30px;
  display: flex;
  align-items: center;
}
img {
  height: 450px;
  display: block;
  margin-top: 100px;
  border-radius: 50px;
}
